@charset "utf-8";
:root {
  --header-height: 80px;
  --filters-container-height: 80px;
  --footer-height: 30px;
  --footer-padding: 25px;
}

/* CSS Document */
html {
  height: 100%;
  width: 100%;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  min-width: 320px;
  min-height: 800px;
  height: 100%;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
header {
  height: var(--header-height);
}
#maincontent {
  background-color: #f3f3f3;
  height: calc(100% - var(--header-height) - var(--footer-height) - 2 * var(--footer-padding));
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: var(--footer-padding);
  text-align: center;
  text-transform: uppercase;
  height: var(--footer-height);
}
/* ====================== Navigation ====================== */
nav {
  width: calc(100% - 2 * 10px);
  height: calc(100% - 2 * 10px);
  background-color: #252831;
  text-align: center;
  padding: 10px;
}
.inside nav {
  height: calc(80px - 2 * 10px);
}

nav h1 {
  margin: auto;
  width: 300px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  height: calc(100% * 2 / 5);
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
#restaurant-list-container {
  height: calc(100% * 3 / 5);
  width: 100%;
}
.filter-options {
  width: 100%;
  height: var(--filters-container-height);
  background-color: #3397db;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 10px 0;
  width: 100%;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  min-width: 140px;
  width: calc(50% - 20px);
  max-width: 210px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 10px 0 0 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: calc(100% - var(--filters-container-height) - 10px);
  overflow: scroll;
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial, sans-serif;
  text-align: left;
  width: 100%;
  height: auto;
  margin-right: 10px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  right: 0;
  top: 80px;
  width: 100%;
  height: calc(100% / 4 - 10px);
  margin-bottom: 10px;
  overflow: scroll;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
.inside #footer {
  bottom: 0;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  overflow: scroll;
}
#restaurant-container {
  height: calc(100% / 2 - 10px);
  margin-bottom: 10px;
}
#reviews-container {
  height: calc(100% / 4);
}
#reviews-container h2 {
  color: #f58500;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
  margin: 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: calc(100% - 40px);
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (max-width: 409px) {
  #restaurants-list li {
    margin-right: 0;
  }
}

@media screen and (min-width:410px) and (max-width:619px) {
  #restaurants-list li {
    width: calc(50% - 5px);
  }
  #restaurants-list li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width:620px) and (max-width:989px) {
  #restaurants-list li {
    width: calc(33.333% - 6.66px);
  }
  #restaurants-list li:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width:620px) {
  .filter-options h2 {
    margin: 10px 0 10px 10px;
  }
  nav h1 {
    width: 100%;
  }
  .filter-options h2 {
    width: 120px;
  }
  .inside #map-container {
    height: calc(100% / 3 - 10px);
  }
  #restaurant-container,
  #reviews-container {
    height: calc(100% * 2 / 3);
    width: calc(50% - 5px);
  }
  #reviews-container {
    margin: 0 0 0 5px;
  }
  #restaurant-container {
    margin: 0 5px 0 0;
  }
  .inside #maincontent {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }
  :root {
    --header-height: 50px;
    --filters-container-height: 55px;
    --footer-height: 15px;    
  }
}

@media screen and (min-width:990px) {
  #maincontent {
    display: flex;
  }
  .inside #maincontent {
    flex-direction: column;
  }
  #restaurants-list {
    margin-top: 10px;
  }
  #restaurants-list li {
    height: 150px;
    width: 100%;
    display: flex;
  }
  #restaurants-list li:nth-child(4n) {
    margin-right: 0;
  }
  .filter-options select {
    max-width: 161px;
  }
  .restaurant-info {
    height: 150px;
    width: 100%;
  }
  #restaurants-list .restaurant-img {
    height: 100%;
    width: auto;
    margin-right: 10px;
  }
  .inside #map-container,
  #map-container {
    width: calc(50% - 5px);
    margin: 0 0 5px 5px;
    height: calc(50% - 5px);
    order: 2;
  }
  #restaurant-list-container {
    width: calc(50% - 5px);
    margin-left: 5px;
    height: 100%;
  }
  #restaurants-list li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #restaurants-list li:last-child {
    margin-bottom: 0;
  }
  #restaurant-container,
  #reviews-container {
    width: calc(50% - 10px);
  }
  #reviews-container {
    height: calc(50% - 7px);
    order: 3;
    margin: 5px 0 0 5px;
  }
  #restaurant-container {
    height: calc(100% - 2px);
    order: 1;
    margin-right: 5px;
  }
  :root {
    --map-container-height: 100%;
    --list-container-height: 100%;
  }
}

@media screen and (min-width:1310px) {
  body {
    width: 1310px;
    margin: auto;
  }
}
